/* Bootstrap Imports */
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;

	button {
		background-color: transparent;
		border: 0 none transparent;
		
		i {
			color: rgba(255, 255, 255, 0.815);
			font-size: 20px;
			padding: 20px;
			text-shadow: 1px 1px rgba(255, 255, 255, 0.397);
		}
	}

	ul {
		display: flex;

		li {
			list-style-type: none;
			color: rgba(255, 255, 255, 0.308);
			margin: 20px 8px;
			text-shadow: 1px 1px rgba(169, 169, 169, 0.596);
		}
	}
}

.reel-header > ul > li:last-child {
	color: white;
}

.reel-header > ul > li:last-child::after {
	content: "";
	display: block;
	position: relative;
	top: 5px;
	left: 12px;
	width: 20px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.986);
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.425);
}

.reel-header > ul > li:nth-of-type(2)::before {
	content: ".";
	display: block;
	position: absolute;
	top: -26px;
	right: 216px;
	color: rgba(255, 0, 0, 0.432);
	font-size: 50px;;
	text-shadow: none;
}

/* Footer */

footer {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ffffff85;
	padding: 20px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	text-shadow: 1px 1px rgba(169, 169, 169, 0.596);

	.ft-element {
		font-size: 25px;
		display: flex;
		flex-direction: column;
		text-align: center;

		span {
			font-size: 10px;
		}
	}
}

.ft-element:nth-of-type(3) {
	position: relative;
	bottom: 9px;
	transform: rotate(90deg);
	color: white;
	font-size: 40px;
	text-shadow: 0 3px 1px rgb(32, 221, 255), 0px -3px 1px fuchsia;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	display: flex;
	flex-direction: column;
	gap: 25px;

	img {
		height: 45px;
		width: 45px;
		border-radius: 50%;
		border: 2px solid rgba(255, 255, 255, 0.822);
	}

	.sb-element {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: rgba(255, 255, 255, 0.904);
		text-shadow: 1px 1px rgba(169, 169, 169, 0.596);
		font-size: 13px;

		i {
			font-size: 28px;
		}
	}
}

