/* Bootstrap Imports */
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;

	button {
		background-color: transparent;
		border: 0 none transparent;
		
		i {
			color: rgba(255, 255, 255, 0.815);
			font-size: 20px;
			padding: 20px;
			text-shadow: 1px 1px rgba(255, 255, 255, 0.397);
		}
	}

	ul {
		display: flex;

		li {
			list-style-type: none;
			color: rgba(255, 255, 255, 0.308);
			padding: 20px 8px;
			text-shadow: 1px 1px rgba(169, 169, 169, 0.596);
		}
	}
}

/* Footer */

footer {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;

	text-shadow: 1px 1px rgba(169, 169, 169, 0.596);

	.ft-element {
		font-size: 25px;
		display: flex;
		flex-direction: column;
		text-align: center;

		span {
			font-size: 10px;
		}
	}
}




/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	display: flex;
	flex-direction: column;
	gap: 25px;

	img {
		height: 45px;
		width: 45px;
		border-radius: 50%;
		border: 2px solid rgba(255, 255, 255, 0.822);
	}

	.sb-element {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: rgba(255, 255, 255, 0.904);
		text-shadow: 1px 1px rgba(169, 169, 169, 0.596);
		font-size: 13px;

		i {
			font-size: 28px;
		}
	}
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

/* --------------------- */
